@import "../../style/mixins.scss";

.about-me {
  background: #f6f5ff;
  padding: 4em 0;
  margin-bottom: 20vh;
}

.about-me .about-header {
  font-size: 2em;
  transform: translate3d(0, 100%, 0) rotateX(90deg);
}

.about-text {
  transform: translate3d(0, 100%, 0) rotateX(90deg);
}

.about-me.-shown {
  .-animation-item {
    @include transitionInUpStaggered(1000ms, 1,4, 200, 200);
  }
}

.-dark {
  .about-me {
      background: #44475a;
  }
  .about-me .about-header {
    color: #8be9fd;
  }
}