.header {
  margin-bottom: 6em;
  padding: 1em 0;
}

.header>.header-row {
  display: flex;
  align-items: center;
}

.header>.header-row>.header-logo-wrapper {
  width: 20%;
  padding: 0;
  margin: 0;
}

.header>.header-row>.header-links {
  width: 80%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
  margin: 0;
}

.header>.header-row>.header-links>li {
  margin-right: 4em;
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
  animation: HeaderLinksIn 1250ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
  position: relative;

  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * ($i - 1) + 500ms;
    }
  }

  &::after {
    content: '';
    height: 2px;
    width: 0px;
    background-color: #FECB5F;
    transition: 650ms all cubic-bezier(0.16, 1, 0.3, 1);
    position: absolute;
    bottom: -2px;
    left: 0;
  }

  &:hover{
    &::after {
      width: 100%;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.header-logo-wrapper>svg {
  width: 51px;
  height: 40px;
}

@keyframes HeaderLinksIn {
  0% {
    transform: translate3d(0, 100%, 0) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }
}


@media screen and  (min-width: 761px) and (max-width: 1199px) { 
  .header > .header-row {
    width: calc(100% - 2em);
  }
}

@media screen and (max-width: 760px) {
  .header {
    margin-bottom: 2em;
  }

  .header > .header-row {
    margin: 0 6px;
  }

  .header-logo-wrapper > svg {
    width: 40px;
    height: 40px;
  }

  .header>.header-row>.header-logo-wrapper {
    width: 15%;
    padding: initial;
  }

  .header>.header-row>.header-links {
    width: 75%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
    margin: 0;
  }

  .header>.header-row>.header-links > li {
    margin-right: 2em;
  }

  .header > .header-row > .header-logo-wrapper > img {
    height: 50px;
    width: 70px;
    object-fit: contain;
  }
}