$matte-blue: #4b5ebe;
$highlight-yellow: #FECB5F;
$hero-title-font-size: 4em;
$hero-title-font-size-vw: 5vw;
$light-grey:#3c3852;
$grey-blue:#5D737E;
$mauve:#E2C2FF;
$transitionInUp: translate3d(0, 100%, 0) rotateX(90deg);